vendor/libuv/build/libuv_a.a filter=lfs diff=lfs merge=lfs -text
vendor/xm/lib/libXmSns_50H20AI.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libspdlog.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libavdevice.a filter=lfs diff=lfs merge=lfs -text
vendor/libuv/dist/hi3518/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libavformat.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libavutil.a filter=lfs diff=lfs merge=lfs -text
vendor/xm/lib/libXmMaQue.a filter=lfs diff=lfs merge=lfs -text
hi3518/libtcp_client.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libfmt.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/libuv/dist/amd64_linux/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libfmt.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libpostproc.a filter=lfs diff=lfs merge=lfs -text
hi3518/libmotion.a filter=lfs diff=lfs merge=lfs -text
hi3518/libsmart.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libzmq.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libavfilter.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libspdlog.a filter=lfs diff=lfs merge=lfs -text
vendor/xm/lib/libXmRtsp.a filter=lfs diff=lfs merge=lfs -text
hi3518/libntp.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/librtsp.a filter=lfs diff=lfs merge=lfs -text
vendor/libuv/amd64_linux/lib/libuv.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libswresample.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libswscale.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libx264.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libXmSns_50H20AI.a filter=lfs diff=lfs merge=lfs -text
vendor/x64/lib/libavcodec.a filter=lfs diff=lfs merge=lfs -text
vendor/hi3518/lib/libXmMaQue.a filter=lfs diff=lfs merge=lfs -text
